/* Starting BreakPoints */

@media (max-width:575px) {
    /* Mobile Screen */
    .landing-page {
        min-height: 70vh;
    }
    .landing-page .header-area .logo p {
        margin-left: 10px;
    }
    .landing-page .header-area .links-container {
        top: 75px
    }
    .landing-page .header-area .links {
        row-gap: 5px;
    }
    .introduction-text h1 {
        font-size: 20px;
    }
    .introduction-text p {
        line-height: 1.5;
        font-size: 10px;
        width: 70%;
    }
    .progress {
        display: block;
        text-align: center;
    }
    .progress .progress-back span::after {
        left: 87%;
    }
    .timeline-content .left,
    .timeline-content .right {
        width: 100%;
        margin-bottom: 20px;
        z-index: 2;
    }
    .timeline-content .left::after {
        right: -29px;
    }
    .timeline-content .right::before {
        left: -29px;
    }
    .about-us,
    .features .total-feats,
    .testimonials .ts-content,
    .contact-us .container form {
        display: block;
    }
    .bullts {
        right: -6px;
    }
    .popup-Box {
        width: 350px;
    }
    .gallery .gallery-imgs {
        display: grid;
        justify-content: center;
    }
    .scrollTop {
        width: 30px;
        height: 30px;
        bottom: 5px;
        right: 15px;
    }
    .scrollTop::before {
        display: none;
    }
    .scrollTop span {
        width: 92%;
        height: 70%;
    }
}

@media (min-width:576px) {
    /* Small Screen */
    .container {
        max-width: 540px;
    }
    .landing-page {
        min-height: 70vh;
    }
    .landing-page .header-area .logo {
        font-size: 34px;
    }
    .landing-page .header-area .links li {
        margin-top: 10px;
        display: inline-block;
    }
    .introduction-text {
        margin-top: 60px;
    }
    .introduction-text h1 {
        font-size: 25px;
    }
    .introduction-text p {
        line-height: 1.7;
        font-size: 15px;
    }
    .timeline-content .content p {
        line-height: 1.3;
        font-size: 15px;
    }
    .timeline-content .content h2 {
        font-size: 20px;
    }
    .about-us .about-info,
    .about-us .about-image {
        flex-basis: 100%;
    }
    .about-us .about-info p {
        line-height: 1.2;
        font-size: 13px;
    }
    .about-us .about-image img {
        width: 40%;
    }
    .features .total-feats .feat-box {
        flex-basis: 100%;
    }
    .features .total-feats .feat-box p {
        line-height: 1.2;
    }
    .popup-Box {
        width: 500px;
    }
    .testimonials .ts-content .ts-box {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    .testimonials .ts-content .ts-box .theP {
        font-size: 15px;
    }
    .testimonials .ts-content .ts-box img {
        margin-left: 0;
    }
    .testimonials .ts-content .ts-box h4 {
        margin-top: 150px;
        font-size: 20px;
    }
    .testimonials .ts-content .ts-box p {
        font-size: 13px;
    }
    .contact-us .container form .left,
    .contact-us .container form .right {
        flex-basis: 100%;
    }
    .scrollTop {
        height: 32px;
        right: 20px;
    }
    .scrollTop::before {
        left: -21px;
        font-size: 13px;
        width: 70px;
    }
    .scrollTop span {
        width: 30px;
        height: 18px;
    }
}

@media (min-width:768px) {
    /* Meduim Screen */
    .container {
        max-width: 720px;
    }
    .landing-page {
        min-height: 100vh;
    }
    .landing-page .header-area .logo {
        font-size: 40px;
    }
    .landing-page .header-area .links li {
        margin-top: 10px;
    }
    .introduction-text {
        margin-top: 85px;
    }
    .introduction-text h1 {
        font-size: 30px;
    }
    .introduction-text p {
        transition: 1s;
        line-height: 1.3;
    }
    .about-us .about-info,
    .about-us .about-image {
        flex-basis: 50%;
    }
    .about-us .about-info p {
        font-size: 15px;
    }
    .about-us .about-image img {
        width: 60%;
    }
    .progress .progress-back span::after {
        left: 93%;
    }
    .timeline-content .left,
    .timeline-content .right {
        width: 47%;
    }
    .timeline-content .left::after {
        right: -30px;
    }
    .timeline-content .right::before {
        left: -30px;
    }
    .timeline-content .content p {
        line-height: 1.5;
        font-size: 20px;
    }
    .timeline-content .content h2 {
        font-size: 25px;
    }
    .features .total-feats .feat-box {
        flex-basis: 47%;
    }
    .features .total-feats .feat-box p {
        line-height: 1.7;
    }
    .testimonials .ts-content .ts-box {
        flex-basis: 32%;
    }
    .testimonials .ts-content .ts-box .theP {
        font-size: 15px;
    }
    .testimonials .ts-content .ts-box img {
        margin-left: 5px;
    }
    .testimonials .ts-content .ts-box h4 {
        margin-top: 35px;
        font-size: 14px;
    }
    .testimonials .ts-content .ts-box p {
        font-size: 12px;
    }
}

@media (min-width:992px) {
    /* Large Screen */
    .container {
        max-width: 960px;
    }
    .landing-page {
        min-height: 100vh;
    }
    .introduction-text {
        margin-top: 0;
    }
    .introduction-text p {
        line-height: 2;
    }
    .about-us {
        padding: 30px;
    }
    .timeline-content .left::after {
        right: -41px;
    }
    .timeline-content .right::before {
        left: -41px;
    }
    .progress .progress-back span::after {
        left: 95%;
    }
    .testimonials .ts-content .ts-box h4 {
        margin-top: 50px;
    }
    .contact-us .container form .left,
    .contact-us .container form .right {
        flex-basis: 48%;
    }
    .popup-Box {
        width: 800px;
    }
    .features .total-feats .feat-box {
        flex-basis: 31%;
    }
}

@media (min-width:1200px) {
    /* X-Large Screen */
    .container {
        max-width: 1140px;
    }
    .landing-page .header-area .logo {
        font-size: 50px;
    }
    .landing-page .header-area .links li {
        margin-top: 0;
    }
    .progress .progress-back span::after {
        left: 96%;
    }
    .features .total-feats .feat-box {
        flex-basis: 31%;
    }
    .testimonials .ts-content .ts-box h4 {
        margin-top: 80px;
        font-size: 20px;
    }
}


/* Ending BreakPoints */


/*


-- How To Make Your Design Full Responsive ? 
-- What Is Media Query ? 
-- What Is Break Points ? 
-- How To Understand And Deal With Different Screens , How It Works ? 

// تعالا نكتب هنا خلاصه البيرك بوينتس او خلاصه الميديا كويرى او خلاصه انك تعمل تصميم ريسبونسف (متجاوب مع جميع الشاشات) ؟؟ الوقتى العادى اننا بنشتغل على الشاشخ الكبيره الى هى بتاع البى سى او غيره و الى غالبا ما بيكون الحجم او الويدس بتاع الشاشه اعلى من 1200 بكسل و بالتالى كا التصميم بتاعنا بيكون بيخاطب الحجم او الويدس دا يعنى ايه ؟ بص مثلا اما احنا بنحدد الكونتينر بتاعنا و نديله ويدس 1140 بكسل بنلاقيه بيجى فى نص الشاشه يعتبر و بيكون سايب مسافه على اليمين و مسافه على الشمال الى مجموعهم حوالى (1200-1140) لاننا هنا بنخاطب الشاشه الكبيره الى الويدس بتاعها 1200 تمام كدا و بالتالى بنكون بقى عاطين لكل عنصر من عناصر الصفحه حريه فى كل حاجه مثلا الفونت سايز و اللاين هايت و البادنج او المارجن بيكونوا ارقام كبيره صح .... طيب تعالا بقى قلل حجم الشاشه بتاعك عن ال1200 بكسل كدا و اوصل مثلا ل 991 بكسل الويدس . هل تفتكر المفروض انك تفضل سايب كل العناصر زى ماهى و كمان بنفس احجامها و الخواص بتاعها ؟؟؟!
// الطبيعى انه لا لازم نعدل الخواص بتاع العناصر دى و كمان اول حاجخ هبدء بيها هتكون الكونتينر الى شايل العناصرو الى لازم اعدل الويدس بتاعه علشان اضمن ان العناصر بتاعى دى تكون فى نص الشاشه دى و كمان يكون فى تناصق و مسافات على اليمين و على الشمال يعنى من الحاجات الاستندرد ان حجم او الويدس بتاع الكونتينر فى الشاشه دى بيكون 960 بكسل تمام و بعدها علطول هتروح بقى تقلل الفونت سايز بتاع بعض العناصر و كمان هتعدل فى الحاجه الى هتحس انها كبيره على الشاشه دى او انها حجمها مبالغ او خاصيه من خواصها مبالغ فيها تمام كدا و خد بقى اننا عندنا احجام شاشات كتير اووى زى مثلا (1200 - 992 - 768 - 576 -  الماكس ويدس ليها 575 ) تمام كدا و كل حجم او ويدس من دوول بيعبر عن حجم شاشه معين يعنى ال1200 بيعبر عن   البروجيكتور او السينما -- 992 بيعبر عن البى سى -- 768 بيعبر عن الشاشات المتوسطه زى الاى باد -- 576 بيعبر عن الشاشات الصغيره -- الماكس ويدس 575 بيعبر عن شاشات الموبايل و الى بتتجزء لاجزاء كتير حسب حجم شاشه الموبايل بس كل شاشات الموبايل الماكس ويدس ليهم 575.... تمام اووى كدا 

// تعالا بقى نشوف هل اما نعمل ملف السى اس اس بتاعنا على الشاشات الكبيره اقل ويدس 1200 بكسل هنعمل ايه بعدها و ازاى هنتعامل مع الشاشات الاخرى ؟؟ بص الاول احنا بنشتغل عادى جدا و بنحاول نبدع كل الى نقدر عليه فى التصميم بتاعنا عادى الاول و فى الاخر حالص بنروح للحته بتاع الريسبونسف علشان يتطابق مع جمبع الشاشات تمام .. يعنى الوقتى اشتغل عادى و اعمل كل الخواص الى انا عايزها تمام و بعد ما تخلص التصميم بتاعك كله بتروح بقى تتحكم فى حجم الشاشه و تصغرها و تكبرها و تشوف ايه العناصر الى مش هتكون متناسقه مع احجام الشاشات المختلفه يعنى مثلا لو عندك هيدير و فى الشاشات الكبيره اوى كان كل حاجه تمام و الفونت سايز و الاين هايت و الخواص بتاع العناصر كله تمام و اما وصلت للشاشه 992 بكسل لقيت ان حجم اللوجو بتاعك كبير و بالتالى هيكون الفونت سايز بتاع اللوجو بتاعك كبير برضو فى جميع الشاشات الاخرى الاصغر من 992 بكسل صح  

// بص بقى هنا فى اكتر من حل او اكتر من نقطه لازم تاخد بالك منها و هى مثلا بنروح لشاشات الموبايل و اما تعمل تحت عنصر اللوجو بتاعك فى ملف السى اس اس بتاعك الميديا بتاع الموبايل (الماكس و يدس 575 بكسل) و تجيب العنصر بتاع اللوجو بالمسار بتاعه و تعدل الخاصيه بتاع الفونت سايز للقيمه الى انتا عايزها **** او انك تعمل ملف جديد باسم الميديا و تكتب الميديا بتاع الموبايل اول حاجه فى الملف الجديد دا و تجيب العناصر بالمسار بتاعه و تحطها فى الميديا و تعدل او تديها الخواص الى تحبها علشان تكون متناسقه مع كل ميديا مختلفه تمام .. طيب ليه بنحط الميديا تحت العنصر ؟؟ مش احنا عارفين ان الاوامر بتتنفذ من فوق ل تحت يعنى اخر حاجه مكتوبه هى الى بتتنفذ يعنى لو كتبنا الميديا فوق هينفذها و بعدين يروح يلاقى الخواص بتاع العنصر الى ف السى اس اس بتاعك فيعدلها تانى و كدا مش هتلاقى حاجه اتغيرت تمام  

// طيب انا اما اقول فى الميديا بتاع الموبايل (الماكس و يدس 575 بكسل) اعمل للوجو بوكس شادوو و هو اصلا انا مكنتش عامل الخاصيه دى فى ملف السى اس اس ف هل بقى الخاصيه دى هتفضل موجوده فى كل الشاشات و لا فى الموبايل بس ؟؟ ماشى تعالا اقرء السطر بتاع الميديا كدا بيقول ان الماكس ويدس 575 بكسل يعنى انتا لو خليت الويدس بتاع الشاشه 576 يعنى بعدها ببكسل واحد هتلاقى اصلا ان المحرر مش هيقرء السطر بتاع الميديا دى تمام يعنى هنا فى الماكس ويدس لو انتا معدل على خاصيه او ضايف حاجه جديده مش هتتطبق الا فى الميديا دى بس تمام اوووى و عرفنا انها لو تعديل على خاصيه موجوده فى العنصر اصلا بيكون ليها اولويه التنفيذ لانها تحت السطر بتاع السى اس اس او الملف بتاع الميديا (بنستدعيه بعد ملف السى اس اس ) تمام .... طيب تعالا بقى للشاشه الى بعدها الى 576 بكسل و الى بنقول فيها ( ان المينيمم ويدس للشاشه دى بيكون 576 الى هى بعد شاشه الموبايل بواحد و بتقف عن الشاشه الى بعدها الى الويدس بتاعها المنيمم بتاعها بيكون 768 --
> يعنى من هنا نقول ان الشاشه دى تعتبر من 576 الى 767 بكسل صح ) تعالا بقى نشوف لو احنا كتبنا حاجه فى الخواص بتاع اللوجو سواء عدلنا على حاجه موجوده او ضيفنا خاصيه جديده ؟؟؟ 

// بص اقرء السطر بتاع الميديا كدا بيقول ان المنيمم ويدس يكون 576 يعنى من هنا نفهم ان لو حجم الشاشه  بعد ال576 الاكواد بتاع الميديا دى هتتنفذ صح كدا .. بص الاول مش انتا قايل ان المنيمم ويدس 576 بكسل يعنى كدا اى حجم للشاشه بعد الرقم دا الاكواد بتاع الميديا دى هتتنفذ الا لو انتا ضيفت ميديا جديده و عندها هتكون تعتبر وقفت الميديا الى قبلها دا اكيد فى حاله انك عايز تعدل على نفس الخاصيه ( لان من اول منتا عملت الشاشه الى بعد الموبايل كل الشاشات التانيه بتتوافق معاها فى ان المنيمم ويدس 576 الا لو انتا حددت لكل شاشه منيمم ويدس مختلف ) دى علشان ليه بتسال ان ليه الخاصيه بتفضل مكمله لو انتا محددها فى الشاشه الصغيره بس ؟؟ يبقى الخلاصه من الكلام دا ان لو انتا بتعدل على خاصيه فى السى اس اس و انتا بتتعامل مع الشاشات ب المنيمم ويدس هتلقى ان التعديل الى انتا عملته على الخاصيه دى اتطبق فى كل الشاشات الا لو انتا جيت فى شاشه اخرى و عدلت الخاصيه دى تانى و اكيد برضو لو انتا ضايف حاجه او خاصيه جديده هيكون نفس الكلام الا لو عدلتها برضو فى حجم شاشه اخرى تمام اوى كدا ... 

// طيب هتعامل ازاى مع ملف السى اس اس بتاعى لو انا بعدل على خاصيه موجوده فى العنصر بتاعى  ؟ بص عرفنا ان الشاه بتاع الموبايل مستقله بحالها لانها مش بتططبق الا تحت الماكس ويدس سواء بتضيف او بتعدل ..... طيب التعامل مع المنيمم ويدس لو انتا بتعدل على خاصيه هنا انتا ممكن تشيل الخاصيه دى من العنصر بتاعك و تحطها فى الشاشه الى بعد الموبايل مثلا و هى كدا كدا هتفضل مكمله ... طيب لو انتا عايز تعدل عليها من اول شاشه الاى باد 768 يبقى هنا لازم نسيب الخاصيه موجوده فى العنصر بتاعك زى ماهى على تتطبق فى الشاشه 576 و تتعدل فى ال786 و بعدين لو عايز تعدلها ف 992 ضيفها ف الميديا دى و عدلها مش عايز يبقى خلاص سيبها و هى كدا كدا هتكمل فى الى بعد كدا (يعنى كدا موجوده فى العنصر الاصلى و موجوده فى المديا او من اول الميديا الى عايز تعدل عليها ) كدا الحمدد لله كله تامم و فهمنا الدنيا ====> الخلاصه بتاع الميديا كويرى ما هى الا فهم السطر بتاع الميديا عشلان تعرف الخواص هتفضل مكمله و لا هتقف عن الميديا بتاعها و منها هتعرف تتعامل مع العنصر الاصلى بتاعك ====>

// هنا بقى هنقول شويه نصايح بتسهل عليك ان التصميم بتاعك يكون ريسبونسف باقل عدد فى الاكواد ؟؟
بص الاول اول طريقه كنا بنستخدمها ف التصميم كنا بنعمل العناصر بالفلووت ليفت و رايت و نعمل ويدس لكل عنصر و كمان كنا بنضطر الى اننا نعمل كلير فيكس علشان نعالج الفوولت صح .. تعالا بقى بالطريقه دى هتلاقى انك فى كل ميديا هتكون مضطر الى انك تحدد الويدس بتاع كل عنصر فى كل ميديا دا على فرض ان العناصر تناسقها بيبوظ فى كل ميديا عن الى بعدها تمام و بالتالى التعامل مع  ابناء العناصر سواء بقى عاملهم ديسبلاى ان لاين بلوك او ان لاين هتلاقيها صعبه و فعلا هتكزن محتاجه عدد كبير اووى من الاكواد ... 
//تعلا بقى نشوف اما نستخدم حاجه زى الديسبلاى فلكس و الديسبلاى جريد ؟؟ عندك فى الفلكس اول حاجه بتقدر تتحكم فى اتجاه العناصر بسهوله جداً و دا من خلال الفلكس دايركشن تمام و عندك علشان تتحكم فى الويدس بتاع الابناء كل الى بتعمله هو الفلكس بيزيز و الى من خلال تغييرها بتتكم فى الويدس الى كل عنصر بياخده و كمان انتا ممكن متحددش الفلكس بيزيز و تعمل بس ان الفلكس-راب : تكون راب و بالتالى اما العناصر حجمها يكون اكبر من الكونتينر او الاب بتاعهم هتلاقى ان العناصر بتنزل تحت لوحدها بدون اى تدخل و دا بالاضافه الى خاصيه الفلكس شيرنك و الفلكس جروو : 1 او  0 و الى من خلالها برضو بتعرف تتحكم فى حجم العناصر او الابناء بكل سهوله و بتكون ريسبونسف جداً  ...

// تعالا هنا بقى نشوف الى يعتبر اعظم خاصيه و هى الديسبلاى جريد و الى من خلالها بتقم الاب  او العناصر الى شبكه من الصفوف و الاعمده(الجريد-تمبلت كوولمز -- الجريد تمبلت-رووز === الجريد- تمبلت -اريز ...  و الريبيت ) و بتروح تتحكم فى العناصر نفسها فى انها تاخد كام صف و كام عمود من خلال ( الجريد- كولوم -- الجريد-روو === الجريد-اريا )  و كمان هتلاقيك بتستخدم كل الخواص دى مع بعض و فى بقى => القيمه الروعه للخاصيه بتاع الجريد-تيمبليت كوولمز الى بنديها للاب اننا نخليها : اوتو-فيل(المنيمم و الماكس 200بكسل و 1 فراكشن مثلا ) و الى من خلالها بنقول ان الاب دا هيتقسم الى اعمده على حسب عدد الابناء الى فيه و الكلام دا هيتطبق بحيث ان كل ابن من الابناء بتاعه يكون اقل ويدس ليه( ويدس بالنسبه للابن وهى برضو اقل ويدس للعمود بتاع الابن يكون 200 ) 200 بكسل و اكبر حاجه 1 فراكشن يعنى ياخد الاب كله ( يعنى لو الشاشه مكنتش هتاخد 2 ابن جمب بعض هلاقى ان الابن الواحد خد الشاشه كلها و الباقى اتعمله راب و نزل تحت ) و من هنا بقى باستخدام الخواص الى هى الديسبلاى جريد او فلكس هتلاقيها بتوفر عليك اكوواد كتير جداً فى موضوع الريسبونسف 

// و اكيد متنساش موضوع (الماكس و المنيمم) هايت و (الماكس و المنيمم) ويدس : الفيو هايت و الفيو ويدس علشان دوول بيفرقوا جداً ف ان العنصر او الاب يكون ريسبونسف فى الشاشات الى اقل من الماكس  و المنيمم بتاعه علشان اما الشاشات تختلف بيتصرف بناءً على القيم دوول (سواء الماكس او المنيمم) و بالتالى بيكون متجاوب مع جمبع الشاشات --> تختلف جداً عنك انك تكون قايله ان الهايت او الويدس بتاعه قيمه ثابته لا تتغير . و بالتالى عمره مايكون متجاوب .. كانك مش عاطيله مساحه يتحرك فيها بناءً على حسب حجم الشاشه الى هو فيها .. بامانه الخواص دى بتفرق جداً فى التصميم الريسبونسف  ... و بكدا الحمد لله حمداً ملئ السموات و الارض و الحمد لله كثيراً 


** Standerd Measures **
----
@media(max-width: 575px){
    ==> Mobile Screen

    .container{
        max-width: 400px ;
    }

}
----
@media(min-width: 576px){
    ==> Small Screen
    
    .container{
        max-width: 540px ;
    }

}
---
@media(min-width: 768px){
    ==> Meduim Screen
    
    .container{
        max-width: 720px ;
    }

}
---
@media(min-width: 992px){
    ==> Large Screen
    
    .container{
        max-width: 960px ;
    }

}
---
@media(min-width:1200px){
    ==> X-Large Screen
    
    .container{
        max-width: 1140px ;
    }

}

// الحمد لله عدد ماكان و عدد مايكون و عدد الحركات و السكون
// الحمد لله حمداً كثيراً طيباً مباركاً فيه
// الحمد لله حمداً تطيب به النفوس 
// الحمد لله حتى يبلغ الحمد منتهاه


*/